@import url('https://fonts.googleapis.com/css?family=Cousine:700,700i|Oswald:700');

[v-cloak] {
    display: none;
}

img.pixelate {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    font-family: 'Cousine', monospace;
    font-weight: 700;
}

#ggj2019-app {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

a.button {
    text-align: center;
    padding: 15px;
    display: block;
    border: 2px dashed #000000;
    font-weight: 700;
}
a.button:hover {
    text-decoration: none;
    color: #000000;
    border-style: solid;
    font-style: italic;
}

#fireflies {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    z-index: 9999;
}

#toolbar ul {
    margin: 0;
    float: right;
}
#toolbar ul > li {
    line-height: 1;
}
#toolbar ul > li > img {
    display: block;
    cursor: pointer;
    height: 1rem;
}

#toolbar .full-screen {
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/fullscreen.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
}
#toolbar .full-screen:hover,
#toolbar .full-screen.active {
    background-image: url(../img/fullscreen-active.svg);
}
#toolbar .full-screen.active:hover {
    background-image: url(../img/fullscreen.svg);
}

[id^=screen-] {
    position: relative;
    z-index: 100;
    min-height: 100vh;
    min-width: 100vw;
}

[id^=screen-] h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 2rem 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/* screen INTRO */
#screen-intro {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-intro h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: #ffffff;
}

/* screen STATE */
#screen-state {
    padding-bottom: 2rem;
}

#screen-state p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 1.5rem 0;
}

/* screen SUCCESS */
#screen-success {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-success p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 1.5rem 0;
}

/* screen END */
#screen-end {
    cursor: pointer;
}

#screen-end p {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 1000;
}

#screen-end .slide-img {
    height: 100vh;
}

/* screen DEAD */
#screen-dead {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-dead p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 3rem 0 0 0;
}