@import url('https://fonts.googleapis.com/css?family=Cousine:700,700i|Oswald:700');

[v-cloak] {
    display: none;
}

img.pixelate {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    font-family: 'Cousine', monospace;
    font-weight: 700;
    color: #000000;
    overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease-in;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

#ggj2019-app {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
}

#ggj2019-app.win {
    background: #000000;
}

a.button {
    text-align: center;
    padding: 15px;
    display: block;
    border: 2px dashed #000000;
    font-weight: 700;
}
a.button:hover {
    text-decoration: none;
    color: #000000;
    border-style: solid;
    font-style: italic;
}

#fireflies {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    z-index: 9999;
}

#toolbar ul {
    margin: 0;
    float: right;
}
#toolbar ul > li {
    line-height: 1;
}
#toolbar ul > li > img {
    display: block;
    cursor: pointer;
    height: 1rem;
}

#toolbar .full-screen {
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/fullscreen.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
}
#toolbar .full-screen:hover,
#toolbar .full-screen.active {
    background-image: url(../img/fullscreen-active.svg);
}
#toolbar .full-screen.active:hover {
    background-image: url(../img/fullscreen.svg);
}

[id^=screen-] {
    position: relative;
    z-index: 100;
    min-height: 100vh;
    min-width: 100vw;
}

[id^=screen-] h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 2rem 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px #000000;
}

[id^=screen-] h2.text-dark {
    text-shadow: 3px 3px rgba(255,255,255,0.75);
}

/* screen TITLE */
#screen-title {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-title h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 4px 4px #000000;
}

/* screen INTRO */
#screen-intro {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-intro h2 {
    margin: 0;
    display: inline-block;
    position: relative;
    color: #ffffff;
}
#screen-intro h2:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 0;
    height: 0;
    border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    border-width: 0 25px 35px 0;
    transform: translateX(-75px);
}
#screen-intro h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ffffff;
}

/* screen STATE */
#screen-state {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-state p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 1.5rem 0;
    text-shadow: 2px 2px rgba(255,255,255,0.75);
}

/* screen SUCCESS */
#screen-success {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-success p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 1.5rem 0;
    text-shadow: 2px 2px #000000;
}

/* screen WIN */
#screen-win {
    cursor: pointer;
}

#screen-win p {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0 0 0;
    margin: 0;
    text-shadow: 2px 2px #000000;
}

#screen-win div.text-center {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}

#screen-win img.h-100 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    filter: saturate(0);
}

/* screen WELCOME */
#screen-welcome {
    cursor: pointer;
}

#screen-welcome h2 {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
}

#screen-welcome div.text-center {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}

#screen-welcome .slide-img {
    height: 100vh;
    width: 100vw;
}

/* screen END */
#screen-end {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-end h2 {
    font-size: 5rem;
}

#screen-end p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 1.5rem 0;
    text-shadow: 2px 2px #000000;
}

/* screen DEAD */
#screen-dead {
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#screen-dead p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 3rem 0 0 0;
    text-shadow: 2px 2px rgba(255,255,255,0.75);
}