<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bring Shroomi Home - GGJ2019</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css?v=9">
    <link rel="stylesheet" href="css/app.css?v=9">
</head>
<body>

<div id="ggj2019-app" v-bind:class="screen" v-cloak>

    <div id="toolbar">
        <ul class="list-inline">
            <li class="list-inline-item">
                <img src="img/flag-de.png" v-on:click="setLocale" data-locale="de" />
            </li>
            <li class="list-inline-item">
                <img src="img/flag-gb.png" v-on:click="setLocale" data-locale="en" />
            </li>
            <li class="list-inline-item">
                <span class="mute" v-on:click="toggleMute"></span>
            </li>
            <li class="list-inline-item">
                <span class="full-screen" v-on:click="toggleFullScreen"></span>
            </li>
        </ul>
    </div>

    <fireflies></fireflies>


    <transition name="fade">
        <div id="screen-title" v-if="screen == 'title'" v-on:click="startIntro" key="title">
            <div class="container">
                <div class="text-center">
                    <h1>Bring Shroomi Home</h1>
                    <img src="img/chara-idle.gif" class="my-5"/>
                </div>
                <p class="text-light text-center m-0">A game by Tom Witkowski & Norman von Rechenberg</p>
            </div>
        </div>

        <div id="screen-intro" v-if="screen == 'intro'" v-on:click="nextIntro" v-bind:key="transitionIntroKey">
            <div class="container">
                <div class="text-center">
                    <div>
                        <h2>{{ intro }}</h2>
                    </div>
                    <img src="img/chara-afraid.gif" class="my-5"/>
                </div>
            </div>
        </div>

        <div id="screen-state" v-if="screen == 'state'" v-bind:key="transitionStateKey">
            <div class="container">
                <img v-bind:src="state.image" class="img-fluid" />
                <p class="text-dark">{{ state.situation }}</p>
                <div class="row">
                    <div class="col-12 col-md-6" v-for="action in state.actions">
                        <a href="#" v-on:click="doAction" v-bind:data-action-id="action.id" class="mb-3 mb-md-0 button">{{ action.button }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="screen-success" v-if="screen == 'success'" v-on:click="nextState" v-bind:key="transitionSuccessKey">
            <div class="container">
                <h2 class="text-light">{{ gameOverTitle }}</h2>
                <div class="text-center">
                    <img src="img/chara-continue.gif" class="img-fluid pixelate my-5" />
                </div>
                <p class="text-light">{{ action.message }}</p>
            </div>
        </div>

        <div id="screen-win" v-if="screen == 'win'" v-on:click="toWelcome" key="win">
            <div class="container">
                <p class="text-light">{{ winMessage }}</p>
            </div>
            <div class="text-center">
                <img src="img/chara-continue.gif" class="img-fluid pixelate" />
            </div>
            <img src="img/win.jpg" class="h-100" />
        </div>

        <div id="screen-welcome" v-if="screen == 'welcome'" v-on:click="toSuspiciousGrandpa" key="welcome">
            <h2>{{ welcomeTitle }}</h2>
            <div class="text-center">
                <img src="img/chara-continue.gif" class="img-fluid pixelate" />
            </div>
            <slide-img src="img/win.jpg" duration="10" fps="30"></slide-img>
        </div>

        <div id="screen-end" v-if="screen == 'end'" v-on:click="resetGame" key="end">
            <div class="container">
                <h2 class="text-light">The End</h2>
                <div class="text-center">
                    <img src="img/chara-herz.gif" class="img-fluid pixelate mb-5" style="height: 192px" />
                </div>
                <p class="text-light">{{ endMessage }}</p>
            </div>
        </div>

        <div id="screen-dead" v-if="screen == 'dead'" v-on:click="resetGame" key="dead">
            <div class="container">
                <h2 class="text-dark">you died</h2>
                <div class="text-center">
                    <img src="img/game-over.png" class="img-fluid" />
                </div>
                <p class="text-dark">{{ state.gameOver }}</p>
            </div>
        </div>
    </transition>

</div>

<iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
<script src="js/smartphone.js?v=9"></script>
<script src="js/fireflies.js?v=9"></script>
<script src="js/slideimg.js?v=9"></script>
<script src="js/app.js?v=9"></script>
<script src="js/intros.en.js?v=9"></script>
<script src="js/intros.de.js?v=9"></script>
<script src="js/states.en.js?v=9"></script>
<script src="js/states.de.js?v=9"></script>
</body>
</html>